/*                       TAGS                      */
body {
  font-family: "Montserrat";
  text-align: center;
}

p {
  color: #8f8f8f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Monteserrat-Bold", sans-serif;
  font-weight: 600;
}


/*                       HEADINGS                          */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}


.container-fluid {
  padding: 7% 15%;
}

/*                       Feature                          */

#features {
  background-color: #fff;
  position: relative;

}

.feature-box {
  padding: 5%;
}

/*                       TITLE SECTION                         */

.feature-title {
  font-size: 1.5rem;
}

#title {
  color: #fff;
  background-color: #ff4c68;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 7% 15%
}

/*                       NAVIGATION BAR                        */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}


/*                       NAVIGATION BAR                        */

.download-button {
  margin: 5% 3% 5% 0%;
}

/*                       TITLE IMAGE                       */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  margin-top: -300px;
  position: absolute;
  right: -60%;
}

/*                       TESTIMONIALS                       */

#testimonials {
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;

}

btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

/*                       Princing Section                       */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #FF4C78;
}

.findLove {
  color: #fff;
  font-family: 'Monteserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.social-icon {
  margin: 20px 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #f7f7f7;
  text-decoration: none;
}

.copyright {
  padding: 3px;
}